<section class="formApp">
  <form
    class="formInput"
    [formGroup]="housingForm"
    (submit)="submitHouseValues()"
  >
    <label>buyingPrice € </label>
    <input
      type="text"
      formControlName="buyingPrice"
      placeholder="buyingPrice"
    />

    <label>monthlyRent € </label>

    <input
      type="text"
      formControlName="monthlyRent"
      placeholder="monthlyRent"
    />

    <label> annualCharges € </label>
    <input
      type="text"
      formControlName="annualCharges"
      placeholder="annualCharges"
    />

    <label> AgencyFees %</label>
    <input type="text" formControlName="agencyFees" placeholder="Agency fee" />
    <button class="submitButton" type="submit">submit</button>
  </form>
  <div class="formValue">
    <div class="res">
      <div class="resCell">
        <h2>earning</h2>
        <p>year 1 earning: {{ totalyear1 }} €  </p>
        <p>year 2 earning: {{ totalyear2 }} € </p>
        <p>year 3 earning: {{ totalyear3 }} € </p>
        <p>per month year 1: {{ totalyear1 / 12 }} €  </p>
        <p>per month year 2: {{ totalyear2 / 12 }} € </p>
        <p>per month year 3: {{ totalyear3 / 12 }} € </p>
        <p>total fee after 3 year : {{ totalfee3year }} €  </p>
        <p>total rent after 3 year : {{ totalrent3year }} € </p>
      </div>
      <div class="resCell">
        <h2>Spending</h2>
        <p>building Price : {{ buildingPrice }} €  </p>
        <p>annual Charges : {{ AnnualCharge }} €  </p>
        <p> divided monthly : {{ MontlyCharge }} € </p>
        <p>total spent after year 1: {{ totalSpentY1 + buildingPrice }} € </p>
        <p>total spent after year 2: {{ totalSpentY2 + buildingPrice }} € </p>
        <p>total spent after year 3: {{ totalSpentY3 + buildingPrice }} € </p>
      </div>
    </div>
    <div class="resConclusion">
      <h2>Yield of return</h2>
        <P>year 1 : {{yield1}} %</P>
        <P>year 2 : {{yield2}} % </P>
        <P>year 3 : {{yield3}} %</P>
    </div>
  </div>
</section>
